html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Obsah zabírá zbývající prostor mezi headerem a footerem */
}

/* Tlaèítka stránkování: */
.pagination-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer {
    height: 60px;
    line-height: 60px; /* Vertikální zarovnání textu ve footeru */
    background-color: #f8f9fa;
    text-align: center;
    border-top: 1px solid #ddd;
}

    body > header {
        display: flex;
        width: 100%;
        padding: 8px 0;
        background: #292d73;
        color: white;
        position: fixed;
        top: 0;
        z-index: 11;
    }

#logo {
    background: url('../images/logo.png') no-repeat;
    background-size: 70px 50px;
    margin-left: 20px;
}

    #logo > * {
        margin: 0 0 0 100px;
    }

    #logo h1 {
        font-weight: normal;
        font-size: 1.5em;
        line-height: 1.2em;
    }

    #logo small {
        text-transform: uppercase;
        font-size: 0.85em;
    }

nav a {
    border-bottom: 2px solid #292d73;
    text-transform: uppercase;
}

    nav a:hover {
        border-bottom: 2px solid #db4223;
    }

.dropdown-menu {
    background: #292d73;
}

    .dropdown-menu :hover {
        background: #4d55d6;
    }

tr {
    color: #292d73;
}

a {
    color: #4d55d6;
    text-decoration: none;
}

    a:hover {
        color: #292d73;
    }

.btn, .btn:disabled, #prev-next, #prev-next:disabled {
    color: white;
    background: #292d73;
    border: #292d73;
}

    .btn:hover, .create-new:hover {
        color: white;
        filter: brightness(115%) contrast(85%);
    }

.btn-danger {
    background: #db4223;
}

.create-new {
    background: #292d73;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 18px;
    border-radius: 22px;
    border: 0;
}

#prev-next:hover {
    background: #292d73;
}

main h1 {
    color: #292d73;
    font-size: 2.3em;
    font-weight: bold;
    border-bottom: 4px solid #db4223;
    width: max-content;
    padding: 10px 0;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-check-input:checked {
    background: #4d55d6;
}